.head{
    background-color: #fff;
}

  
body{
    margin: 4%;
    padding: 0%;
    background: linear-gradient(#16c241, #e4bdbd)
}

.acreate{
    font-size: 25px;
     margin-left: 100px;
    }
.abt{
    font-size: 25px;
        margin-left: 100px;
    
}
  
.buss{
    font-size: 25px;
    margin-left: 100px;
}
.mark{
    font-size: 75px;
    color: #fff;

}
.body head{
    background-color: #16c241;
}
.homelink{
    text-decoration: none;
    color: #000;
    
}
a:hover{
    color:#fd0707
}
a:visited{
    color: #8117e4;
}
.button{
    text-align: center;
    text-decoration: none;
    font-style: italic;
}
img{
    align-content: center;
}
.img5{
    width: 10%;
    margin-left: 90%;
    margin-top: -50%;
}
button{
    background-color: #16c241;
    text-decoration: none;

}
a{
    text-decoration: none;
}
.soc{
    font-size: 25px;
    margin-left: 100px;
}
.anc{
    font-size: 25px;
}
.di{
    text-align: left;
    display: inline;
    font-size: 180%;
}
.below{
    font-size:75px;
    color:#fff
}
.img6{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
.foot{
    margin-left: -4%;
    margin-right: -4%;
    padding: 0%;
    background-color: #380909;
}
@media  screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
    .di{
        text-align: left;
        display: inline;
        font-size: 100%;
    }
    .below{
        font-size:25px;
        color:#fff
    }
    .he2{
        font-size: 20px;
    }
    .mark{
        font-size: 25px;
        color: #fff;
    }
    .foot{
        margin-left: -4%;
        margin-right: -4%;
        margin-bottom: 0%;
        padding: 0%;
        background-color: #380909;
    }
   .anc{
     font-size: 15px;
   }
   .img5{
    width: 14%;
   }
   .anc{
    font-size: 15px;
    text-decoration: underline;
}
.acreate{
    font-size: 15px;
    margin-left: 49px;
    text-decoration: underline;
}
.soc{
    font-size: 15px;
    margin-left: 49px;
    text-decoration: underline;
}
.buss{
    font-size: 15px;
    margin-left: 10px;
    text-decoration: underline;
}
.abt{
    font-size: 15px;
    margin-left: 49px;
    text-decoration: underline;
}
    }